{% extends 'base.html' %}
{% load static %}
{% block title %}Événements à venir{% endblock %}
  {% block extra_styles %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  
  {% endblock %}
{% block content %}
<div class="container mt-5">
  <h2 class="mb-4 text-center titre-evenement">Événements à venir</h2>
  <!-- Filtres dynamiques -->
  <div class="filter-buttons text-center mb-4">
    <form method="post" action="{% url 'home' %}">
      {% csrf_token %}
      <input type="hidden" name="q" value="{{ q }}">
      <button type="submit" name="categorie" value="" class="btn btn-outline-primary {% if not categorie %}active{% endif %}">Tous</button>
      <button type="submit" name="categorie" value="Culturelle" class="btn btn-outline-primary {% if categorie == 'Culturelle' %}active{% endif %}">Culturelle</button>
      <button type="submit" name="categorie" value="Sport" class="btn btn-outline-primary {% if categorie == 'Sport' %}active{% endif %}">Sport</button>
    </form>
  </div>
  <!-- Liste des événements -->
  <div class="row">
    {% if evenements %}
      {% for evenement in evenements %}
        <div class="col-md-4 mb-4 d-flex">
          <div class="card shadow-sm flex-fill position-relative">
            <div class="position-relative event-image-container">
              {% if evenement.image %}
                <img src="{{ evenement.image.url }}" class="card-img-top" alt="Image de l'événement">
              {% else %}
                <img src="/media/default-image.jpg" class="card-img-top" alt="Image par défaut">
              {% endif %}
              {% if evenement.nombre_place == 0 %}
                <div class="img-overlay-dark"></div>
                <div class="overlay-message">Réservations terminées</div>
              {% endif %}
            </div>
            <div class="card-body d-flex flex-column justify-content-between">
              <div>
                <h5 class="card-title">{{ evenement.titre }}</h5>
                <p class="card-text">{{ evenement.description|truncatewords:20 }}</p>
                <p class="card-text"><strong>📍 Lieu:</strong> {{ evenement.lieu }}</p>
                <p class="card-text"><strong>📅 Date:</strong> {{ evenement.date_evenement|date:"d M Y H:i" }}</p>
              </div>
              <a href="{% url 'evenement_detail' evenement.id %}"
                 class="btn btn-primary mt-2 {% if evenement.nombre_places == 0 %}disabled{% endif %}">
                Voir les détails
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="alert alert-warning text-center" role="alert">
        Aucun événement ne correspond à votre recherche.
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
