{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Authentication</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
   <link rel="stylesheet" href="{% static 'css/Authentification.css' %}">
</head>
<body>
<div class="container" id="container">
  <!-- Inscription -->
  <div class="form-container sign-up">
    <form method="POST" action="{% url 'inscription' %}">
      {% csrf_token %}
      <h1>Create Account</h1>
      {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <div class="message {{ message.tags }}">{{ message }}</div>
        {% endfor %}
      </div>
      {% endif %}
      <div class="social-icons">
        <a href="#"><i class="fab fa-google-plus-g"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>or use your email for registration</span>
      <input type="text" name="username" placeholder="Username" required>
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required>
      <input type="password" name="confirm_password" placeholder="Confirm Password" required>
      <button type="submit">Sign Up</button>
    </form>
  </div>
  <!-- Connexion -->
  <div class="form-container sign-in">
    <form method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      <h1>Sign In</h1>
      {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <div class="message {{ message.tags }}">{{ message }}</div>
        {% endfor %}
      </div>
      {% endif %}
      <div class="social-icons">
        <a href="#"><i class="fab fa-google-plus-g"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>or use your account</span>
      <input type="text" name="username" placeholder="Username" required>

      <div class="password-container">
        <input type="password" name="password" placeholder="Password" id="loginPassword" required>
        <i class="fas fa-eye" id="togglePassword"></i>
      </div>

      <a href="#">Forgot Your Password?</a>
      <button type="submit">Sign In</button>
    </form>
  </div>
  <!-- Toggle -->
  <div class="toggle-container">
    <div class="toggle">
      <div class="toggle-panel toggle-left">
        <h1>Welcome Back!</h1>
        <p>To keep connected, please login</p>
        <button class="hidden" id="login">Sign In</button>
      </div>
      <div class="toggle-panel toggle-right">
        <h1>Hello, Friend!</h1>
        <p>Register to start using all the features</p>
        <button class="hidden" id="register">Sign Up</button>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/Authentification.js' %}"></script>
</body>
</html>
